@import "tailwindcss";


@media(max-width: 500px) {
    .Toastify__toast {
        width: fit-content;
        margin: auto;
        margin-top: 48px;
        border-radius: 8px;
    }
}

body{
    background-color:#F0F2F5
}